[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:FreeFlyingSheep/LoveIt.git
[submodule "public"]
	path = public
	url = git@github.com:FreeFlyingSheep/FreeFlyingSheep.github.io.git
