// ==============================
// Override Variables
// ==============================

// ========== Code ========== //
// Color of the code
$code-color: #993333;

// Font family of the code
$code-font-family: Consolas, Source Code Pro, $global-font-family;

// Color map of the code highlight
$code-highlight-color-map: (
  /* Comment */ 'c': #008000,
  /* CommentHashbang */ 'ch': #008000,
  /* CommentMultiline */ 'cm': #008000,
  /* CommentSingle */ 'c1': #008000,
  /* CommentSpecial */ 'cs': #008000,
  /* CommentPreproc */ 'cp': #0000ff,
  /* CommentPreprocFile */ 'cpf': #0000ff,
);
$code-highlight-color-map-dark: (
  /* Comment */ 'c': #8cc570,
  /* CommentHashbang */ 'ch': #8cc570,
  /* CommentMultiline */ 'cm': #8cc570,
  /* CommentSingle */ 'c1': #8cc570,
  /* CommentSpecial */ 'cs': #8cc570,
  /* CommentPreproc */ 'cp': #41b0f5,
  /* CommentPreprocFile */ 'cpf': #41b0f5,
);
// ========== Code ========== //
